* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    list-style-type: none;
    border: none;
    outline: none;
}
html,body {
    height: 100%;
}
#root {
    height: 100%;
}
.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
    background: #0079BF;
    padding: 20px 16px 32px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    height: 90.2%;
}